body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.container {
  margin: 0 auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #region header */
.page-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}
.page-header .container {
  display: flex;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.logo-part {
  color: #2e2f42;
}
.page-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#main-link::after {
  display: block;
  width: 48px;
  height: 4px;
  margin-top: 20px;
  background-color: #404bbf;
  border-radius: 2px;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
}
.nav-link:hover,
.nav-link:focus,
.nav-list:active {
  color: #404bbf;
}
.contact {
  font-style: normal;
}
.contact-list {
  display: flex;
  gap: 40px;
  margin-left: 332px;
}
.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
/* #endregion */

/* #region Hero */
.hero {
  padding: 188px 0;
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 1440px; */
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-bottom: 32px;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  display: block;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background: #404bbf;
}
/* #endregion */

/* #region Benefits */
.benefits {
  padding: 120px 0;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-list-item {
  width: calc((100% - 72px) / 4);
}
.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  padding: 24px 100px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
}
.benefits-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region Team */
.team {
  background: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list-img {
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.team-list-link:hover,
.team-list-link:focus {
  background-color: #404bbf;
}
.team-list-icon {
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.teammates {
  padding: 32px 0;
}

/* #endregion */

/* #region Portfolio */
.portfolio {
  padding: 120px 0;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.cards {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* #endregion */

/* #region Footer */
.page-footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-part {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-icon {
  display: flex;
  gap: 16px;
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.footer-icon-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
